# /etc/systemd/system/server-monitor.timer
[Unit]
Description=Hourly sys check
Requires=server-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=60min

[Install]
WantedBy=timers.target
