# /etc/systemd/system/server-monitor.service
[Unit]
Description=Server Monitoring & Alerting
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/Server-Monitor/
ExecStart=/home/Server-Monitor/server-monitor
EnvironmentFile=/home/Server-Monitor/.env
User=reznik99

[Install]
WantedBy=multi-user.target

